@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model IEnumerable<BlogApplication.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-4">
        <div id="searchSite" class="container" style="display: flex; justify-content: center;">
            @*@{Html.RenderPartial("PartialViews/Posts/_SearchPartial");}*@
        </div>

        @if (Accessor.HttpContext.Session.GetString("FullName") != null)
        {
            <div class="container" style="display: flex; justify-content: center; margin-top: 10px;">
                <a class="btn btn-dark" style="width: 70%;" onclick="LoadCreate()">Insert</a>
            </div>
        }
    </div>

    <div class="col-md-8">
        <div id="postContainer" class="container">
            @foreach (var post in Model)
            {
                if (post.PublishStatus)
                {
                    <div class="card wrapper">
                        <div class="col-md-4">
                            <div class="card-body">
                                <h5 class="card-title">@post.AppUser.FullName</h5>
                                <p class="card-text">@post.UpdatedDate | @post.Category.CategoryName</p>
                                @if (Accessor.HttpContext.Session.GetInt32("UserID") == post.AppUser.UserID)
                                {
                                    <a class="btn btn-primary btn-wrapper" onclick="LoadEdit(@post.PostID)">Edit</a>
                                    <a class="btn btn-wrapper btn-details" onclick="LoadDetails(@post.PostID)">Details</a>
                                    <a class="btn btn-wrapper btn-delete" onclick="LoadDelete(@post.PostID)">Delete</a>
                                }
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title">@post.Title</h5>
                                <p class="card-text">@post.Content</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div id="paging" class="container"></div>
    </div>
</div>


<div id="create" class="container"></div>

<div id="edit" class="container"></div>

<div id="details" class="container"></div>

<div id="delete" class="container"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
    LoadIndexPage();

    function LoadIndexPage() {
        LoadSearchSite();
        LoadPagingSite();
    }

    function LoadSearchSite() {
        $.ajax({
            url: "/Posts/LoadSearchSite",
            type: "GET",
            success: function (result) {
                document.getElementById("searchSite").innerHTML = result;
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function LoadPostsBySearchItem() {
        if (document.getElementById("FromDate").value == "")
            document.getElementById("FromDate").value = "0001-01-01T00:00";
        if (document.getElementById("ToDate").value == "")
            document.getElementById("ToDate").value = "9999-12-31T12:00";

        var searchItem = {
            Title: document.getElementById("Title").value,
            FromDate: document.getElementById("FromDate").value,
            ToDate: document.getElementById("ToDate").value
        };

        $.ajax({
            url: "/Posts/LoadPostsBySearchItem",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(searchItem),
            success: function (result) {
                document.getElementById("postContainer").innerHTML = result;
                document.getElementById("paging").innerHTML = "<div></div>";
                document.getElementById("Title").value = "";
                document.getElementById("FromDate").value = "";
                document.getElementById("ToDate").value = "";
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function LoadPagingSite() {
        $.ajax({
            url: "/Posts/LoadPagingSite",
            type: "GET",
            success: function (result) {
                document.getElementById("paging").innerHTML = result;
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function LoadPostsByPage(page) {
        document.getElementById("currentPage").value = page;
        $.ajax({
            url: "/Posts/LoadPostsByPage",
            type: "GET",
            data: {
                page: page
            },
            success: function (result) {
                document.getElementById("postContainer").innerHTML = result;
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function LoadCreate() {
        $.ajax({
            url: "/Posts/Create",
            type: "GET",
            success: function (result) {
                document.getElementById("create").innerHTML = result;
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function LoadEdit(id) {
        $.ajax({
            url: "/Posts/Edit",
            type: "GET",
            data: {
                id: id
            },
            success: function (result) {
                document.getElementById("edit").innerHTML = result;
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function LoadDetails(id) {
        $.ajax({
            url: "/Posts/Details",
            type: "GET",
            data: {
                id: id
            },
            success: function (result) {
                document.getElementById("details").innerHTML = result;
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function LoadDelete(id) {
        $.ajax({
            url: "/Posts/Delete",
            type: "GET",
            data: {
                id: id
            },
            success: function (result) {
                document.getElementById("delete").innerHTML = result;
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function RemovePopup() {
        document.getElementById("myModal").classList.remove("display");
    }
</script>
