@model BlogApplication.Models.Post

<div class="modal show display" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Your Post Information</h4>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.AppUser)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.AppUser.FullName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UpdatedDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.UpdatedDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Content)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Content)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PublishStatus)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PublishStatus)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Category.CategoryName)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-delete" onclick="RemovePopup()">Close</button>
            </div>
        </div>
    </div>
</div>


