@model BlogApplication.Models.AppUser

<style>
    th, td, input {
        text-align: center;
    }
</style>

<div>
    <form asp-controller="AppUsers" asp-action="Edit" asp-route-id="@Model.UserID" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.UserID)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.FullName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Address)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Password)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        @Model.UserID
                        <input type="hidden" asp-for="UserID" value="@Model.UserID" />
                    </td>
                    <td scope="row">
                        <div class="form-group">
                            <input asp-for="FullName" class="form-control" value="@Model.FullName" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="form-group">
                            <input asp-for="Address" class="form-control" value="@Model.Address" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" value="@Model.Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="form-group">
                            <input asp-for="Password" class="form-control" value="@Model.Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </td>
                    <td scope="row">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>